<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98849193119-7ds536677o73hrat33c8tkejjdqqv0oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98849193119-7ds536677o73hrat33c8tkejjdqqv0oh</string>
	<key>API_KEY</key>
	<string>AIzaSyBcSnmw0pPVeDaNoDZyL1GyRReu7mQKk3E</string>
	<key>GCM_SENDER_ID</key>
	<string>98849193119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanoamatton.ProgramatticViewsPractice</string>
	<key>PROJECT_ID</key>
	<string>warn-me-b2da7</string>
	<key>STORAGE_BUCKET</key>
	<string>warn-me-b2da7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98849193119:ios:5c1e6354de10c73197b6aa</string>
</dict>
</plist>